In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
dem = pd.read_csv("./data/county_demographics(1).csv")
stateAbrv = {
 'AL': 'Alabama', 'AK': 'Alaska', 'AZ': 'Arizona', 'AR': 'Arkansas', 'CA': 'California',
 'CO': 'Colorado', 'CT': 'Connecticut', 'DE': 'Delaware', 'FL': 'Florida', 'GA': 'Georgia',
 'HI': 'Hawaii', 'ID': 'Idaho', 'IL': 'Illinois', 'IN': 'Indiana', 'IA': 'Iowa',
 'KS': 'Kansas', 'KY': 'Kentucky', 'LA': 'Louisiana', 'ME': 'Maine', 'MD': 'Maryland',
 'MA': 'Massachusetts', 'MI': 'Michigan', 'MN': 'Minnesota', 'MS': 'Mississippi', 'MO': 'Missouri',
 'MT': 'Montana', 'NE': 'Nebraska', 'NV': 'Nevada', 'NH': 'New Hampshire', 'NJ': 'New Jersey',
 'NM': 'New Mexico', 'NY': 'New York', 'NC': 'North Carolina', 'ND': 'North Dakota', 'OH': 'Ohio',
 'OK': 'Oklahoma', 'OR': 'Oregon', 'PA': 'Pennsylvania', 'RI': 'Rhode Island', 'SC': 'South Carolina',
 'SD': 'South Dakota', 'TN': 'Tennessee', 'TX': 'Texas', 'UT': 'Utah', 'VT': 'Vermont',
 'VA': 'Virginia', 'WA': 'Washington', 'WV': 'West Virginia', 'WI': 'Wisconsin', 'WY': 'Wyoming'
}

In [3]:
dem['State'].replace(stateAbrv,inplace=True)
dem['County'] = dem['County'].apply(lambda x: str(x).replace(' County', ''))
for col in dem.columns:
    print(col)
dem

County
State
Age.Percent 65 and Older
Age.Percent Under 18 Years
Age.Percent Under 5 Years
Education.Bachelor's Degree or Higher
Education.High School or Higher
Employment.Nonemployer Establishments
Ethnicities.American Indian and Alaska Native Alone
Ethnicities.Asian Alone
Ethnicities.Black Alone
Ethnicities.Hispanic or Latino
Ethnicities.Native Hawaiian and Other Pacific Islander Alone
Ethnicities.Two or More Races
Ethnicities.White Alone
Ethnicities.White Alone	 not Hispanic or Latino
Housing.Homeownership Rate
Housing.Households
Housing.Housing Units
Housing.Median Value of Owner-Occupied Units
Housing.Persons per Household
Income.Median Houseold Income
Income.Per Capita Income
Miscellaneous.Foreign Born
Miscellaneous.Land Area
Miscellaneous.Language Other than English at Home
Miscellaneous.Living in Same House +1 Years
Miscellaneous.Manufacturers Shipments
Miscellaneous.Mean Travel Time to Work
Miscellaneous.Percent Female
Miscellaneous.Veterans
Population.2020 Population
Population.2010 Population
Population.Population per Square Mile
Sales.Accommodation and Food Services Sales
Sales.Retail Sales
Employment.Firms.Total
Employment.Firms.Women-Owned
Employment.Firms.Men-Owned
Employment.Firms.Minority-Owned
Employment.Firms.Nonminority-Owned
Employment.Firms.Veteran-Owned
Employment.Firms.Nonveteran-Owned

,County,State,Age.Percent 65 and Older,Age.Percent Under 18 Years,Age.Percent Under 5 Years,Education.Bachelor's Degree or Higher,Education.High School or Higher,Employment.Nonemployer Establishments,Ethnicities.American Indian and Alaska Native Alone,Ethnicities.Asian Alone,...,Population.Population per Square Mile,Sales.Accommodation and Food Services Sales,Sales.Retail Sales,Employment.Firms.Total,Employment.Firms.Women-Owned,Employment.Firms.Men-Owned,Employment.Firms.Minority-Owned,Employment.Firms.Nonminority-Owned,Employment.Firms.Veteran-Owned,Employment.Firms.Nonveteran-Owned
0,Abbeville,South Carolina,22.4,19.8,4.7,15.6,81.7,1416,0.3,0.4,...,51.8,12507,91371,1450,543,689,317,1080,187,1211
1,Acadia Parish,Louisiana,15.8,25.8,6.9,13.3,79.0,4533,0.4,0.3,...,94.3,52706,602739,4664,1516,2629,705,3734,388,4007
2,Accomack,Virginia,24.6,20.7,5.6,19.5,81.5,2387,0.7,0.8,...,73.8,53568,348195,2997,802,1716,335,2560,212,2536
3,Ada,Idaho,14.9,23.2,5.6,38.5,95.2,41464,0.8,2.7,...,372.8,763099,5766679,41789,14661,19409,3099,36701,3803,35132
4,Adair,Iowa,23.0,21.8,5.6,18.5,94.2,609,0.3,0.5,...,13.5,-1,63002,914,304,499,0,861,185,679
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3134,Yuma,Arizona,19.3,25.1,7.1,15.0,73.3,9896,2.3,1.5,...,35.5,307540,1995974,10846,4298,4529,5749,4476,839,9265
3135,Yuma,Colorado,18.7,27.4,7.5,21.8,88.6,1020,1.0,0.5,...,4.2,8501,125565,1492,391,797,45,1350,66,1278
3136,Zapata,Texas,13.2,33.1,8.6,11.6,61.9,1452,0.5,0.2,...,14.0,-1,75681,1964,818,1003,1680,235,181,1738
3137,Zavala,Texas,14.6,28.4,7.2,10.9,66.9,837,1.1,0.3,...,9.0,8808,45596,1232,486,674,1062,159,42,1178
3138,Ziebach,South Dakota,9.6,27.5,5.5,16.4,84.1,87,71.1,0.3,...,1.4,-1,15757,78,0,42,29,36,0,54